# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next
/out

# Production build artifacts
/build

# dotenv environment variables file
.env*.local
.env

# Prisma Client output (geralmente dentro de node_modules, mas por segurança)
/node_modules/.prisma/client

# Mac OS folder attributes
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Miscellaneous
*.swp

/docker-compose.yml
